body {
    background-color: black;
    background-image:linear-gradient(black, rgb(15, 15, 15), black);
    background-size:300px;
    overflow-x:hidden;
    margin:0px;
}

:root {
    --logo-scale-x: 1;
}

/*
Header
*/

.header {
    background-image:linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    padding:10px;
    height:400px;
}

#logo {
    width:200px;
    filter: grayscale(100%) drop-shadow(0px 5px #ffffff25);
}

#museum_logo {
    width:1500px;
    display: block;
    margin: auto;
}

/*
BG CSS
*/

.bg {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-999;

    background-repeat:repeat;
}

#bgStars {
    background-image:url(img/museum_bg_tile.png);
    opacity:0.1;
    background-size: 128px;
}

#bgStars2 {
    background-image:url(img/museum_bg_tile.png);
    opacity:0.3;
}

/*
Animation
*/

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(5px) scaleX(var(--logo-scale-x));
    }
    50% {
        transform: translateY(-5px) scaleX(var(--logo-scale-x));
    }
}

@keyframes render_static {
    0%, 100% {
        filter: contrast(1.5) blur(1px);
    }
    50% {
        filter: contrast(1) blur(0px);
    }
}

.typewriter span {
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: pre-wrap;
}

/*
General CSS
*/

.message_box {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rgba(255, 255, 255, 0.548);
  font-size:40px;

  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 20px;
  padding: 8px 0;
  align-items: center;
  text-align:center;

  animation: MoveUpDown 6s ease-in-out infinite;
}

.message {
    color:white;
    display:flex;
    flex-direction:column;
    white-space:pre-wrap;
}

.context {
    display:flex;
    flex-direction:column;
}

.context p { /* some items like p have implicit margins. You can see this by going into Inspect Element and hovering over the item. It's freaking awesome */
    margin: 0;
}

.message img {
    width:512px;
    box-shadow: 0 0 15px 15px #ffffff28;
    animation: render_static 5s ease-in-out infinite;
}

#image {
    display:flex;
    flex-direction:column;
    gap:20px;
    color:rgba(255, 255, 255, 0.1);
}

#unstable {
    font-family: "Coral Pixels", serif;
}

#unnamed .message {
    text-align:left;
    width:75%;
}

#flower .message {
    justify-self: end;
    text-align:right;
    width:75%;
}

#flower img {
    align-self:flex-end;
}

.date {
    font-size:30px;
    color:rgba(255, 255, 255, 0.1);
}

#descriptor {
    color:rgba(255, 255, 255, 0.1);
}

